<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Create Item</title>
	<meta name="description" content="form to add new Item">
	<meta name="author" content="guow10">
	<link href="style.css" type="text/css" rel="stylesheet" />
	<link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="container-fluid" style="height: 50px">
		<h1 style="float: left;">Exchange</h1>
		<p><a href='/' class="btn btn-link" style="float: right; margin:0px, 10px">home page</a></p>
		{{#if authorised}}
		<p><a href={{userId}} class="btn btn-link" style="float: right; margin:0px, 10px">user</a></p>
		<p><a href="/logout" class="btn btn-link" style="float: right; margin:0px, 10px">logout</a></p>
		{{else}}
		<p><a href="/login" class="btn btn-link" style="float: right; margin:0px, 10px">login</a></p>
		<p><a href="/register" class="btn btn-link" style="float: right; margin:0px, 10px">register</a></p>
		{{/if}}
	</div>
	<h1>Create an item</h1>
	<div class="container" style="width: 100%; height: 20px">
		<form action="/create" enctype="multipart/form-data" method="post">
			<p>title:<br /><input type="text" name="title" placeholder="title" value=""></p>
			<p>tag:<br />
			<input type="text" name="tag" placeholder="tag" value={{tag.tag}}></p>
			<p>description:<br /><input type="text" name="description" placeholder="description" value=""></p>
			<p>Picture:<br /><input type="file" name="itemImg" accept=".png, .jpg"></p>
			<div class="col-sm-4">
				<p>select what you want to swap for:<br />(Hold down the Ctrl button to select multiple options)</p>
				<br />
				<select multiple="multiple" name="willingSwapItem" id="tags" required>
					<option value="">please select items</option>
					{{#tagList}}
					<option value={{id}}>{{tag}}</option>
					{{/tagList}}
					<p><input type="submit" value="create"></p>
				</select>
			</div>
		</form>
	</div>
</body>

</html>