
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ERROR</title>
		<meta name="description" content="The HTML5 Template">
		<meta name="author" content="guow10">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <h1>An Error Has Occurred</h1>
        <h2>{{message}}</h2>
		<p><a href="/">back to home page</a></p>
	</body>
</html>
