<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Exchange</title>
	<meta name="description" content="The Home Page">
	<meta name="author" content="guow10">
	<script type="text/javascript" src="jquery-3.4.1.js.css"></script>
	<script type="text/javascript" src="bootstrap.bundle.js.css"></script>
	<link href="style.css" type="text/css" rel="stylesheet" />
	<link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.alert {
			padding: 20px;
			background-color: #f44336;
			color: white;
			opacity: 1;
			transition: opacity 0.6s;
			margin-bottom: 15px;
		}

		.alert.success {
			background-color: #4CAF50;
		}

		.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
		}

		.closebtn:hover {
			color: black;
		}
	</style>
</head>

<body>
	<div class="container-fluid" style="height: 50px">
		{{#if resEmail}}
		<div class="alert success">
			<span class="closebtn">&times;</span>
			<strong>Successful sent an offer!</strong> {{message}}
		</div>
		{{else}}
		<p></p>
		{{/if}}
		
		<h1 style="float: left;">Exchange</h1>
		{{#if authorised}}
		<p><a href={{userId}} class="btn btn-link" style="float: right; margin:0px, 10px">user</a></p>
		<p><a href="/logout" id="authorised" class="btn btn-link" style="float: right; margin:0px, 10px">logout</a></p>
		{{else}}
		<p><a href="/login" id="authorised" class="btn btn-link" style="float: right; margin:0px, 10px">login</a></p>
		<p><a href="/register" class="btn btn-link" style="float: right; margin:0px, 10px">register</a></p>
		{{/if}}
	</div>
	<div class="container">
		<form action="/tag" method="get">
			<input type="text" name="tag" type="submit" placeholder="Search item" value="" enctype>
			<input type="submit" value="search">
		</form>
		<div class="float-right">
			<div class="dropdown">
				<a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Create an item
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="height:300px;overflow:scroll">
					<a class="dropdown-item" href="/create/?id=0" value="make a new tag">new tag</a>
					<div class="dropdown-divider"></div>
					{{#tagList}}
					<a class="dropdown-item" href={{id}} name={{tag}}>{{tag}}</a>
					{{/tagList}}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<br />
		<div class="row">
			{{#if itemList}}
			{{#itemList}}
			<div class="card" style="width:20%; margin:20px" onclick="#">
				<img class="img-responsive" src={{itemImg}} alt={{title}} style="width:100%">
				<div class="card-body">
					<h5 class="card-title">{{title}}</h5>
					<p class="card-text">{{description}}</p>
					<a href={{id}} class="card-link">views</a>
				</div>
			</div>
			{{/itemList}}
			{{else}}
			<p><br />
				<h1>Sorry, There is no item, Let's create an item</h1>
			</p>
			{{/if}}
		</div>
	</div>
</body>
<script>
	var close = document.getElementsByClassName("closebtn");
	var i;

	for (i = 0; i < close.length; i++) {
		close[i].onclick = function () {
			var div = this.parentElement;
			div.style.opacity = "0";
			setTimeout(function () { div.style.display = "none"; }, 600);
		}
	}
</script>

</html>