<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Item</title>
	<meta name="description" content="The Item Details Page">
	<meta name="author" content="guow10">
	<link href="style.css" type="text/css" rel="stylesheet" />
	<link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="container-fluid" style="height: 50px">
		<h1 style="float: left;">Exchange</h1>
		<p><a href='/' class="btn btn-link" style="float: right; margin:0px, 10px">home page</a></p>
		{{#if authorised}}
		<p><a href={{userId}} class="btn btn-link" style="float: right; margin:0px, 10px">user</a></p>
		<p><a href="/logout" class="btn btn-link" style="float: right; margin:0px, 10px">logout</a></p>
		{{else}}
		<p><a href="/login" class="btn btn-link" style="float: right; margin:0px, 10px">login</a></p>
		<p><a href="/register" class="btn btn-link" style="float: right; margin:0px, 10px">register</a></p>
		{{/if}}
	</div>

	<div class="container">
		<br />
		<h1 style="text-align:center">Item Details</h1><br />

		<div class="float-left" style="margin-right:100px">
			<h4>The item title:&nbsp;{{itemData.title}}</h4>
			<br /><a>The item tag:&nbsp;</a><a
				style="color:red">{{itemData.tag.tag}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
				href="/tag?tag={{itemData.tag}}">Suggestion</a>
			<br /><br />
			<h6>The item host: <a style="color:red">{{itemData.user.user}}</a></h6>
			Email: <a style="color:red">{{itemData.user.email}} </a>
			<br /><br /><img src={{itemData.itemImg}} alt={{itemData.title}} class="img-thumbnail">
		</div>
		<div>
			<br /><br /><a>want to swap for:</a>
			{{#itemData.swapForItems}}
			<a style="color:red">{{tag}}, </a>
			{{/itemData.swapForItems}}
			<br /><br /><br />
			<h5>The item description:</h5>
			<a>{{itemData.description}}</a>
		</div>
		<br /><br />
		<form action="/offer" method="post">
			<p>please type the type of the items what you are willing to swap to {{itemData.title}}</p>
			<p hidden><input name="itemId" value={{itemData.itemId}}></p>
			<p><input name="willingItem" value=""></p>
			<p><input type="submit" value="Make an offer"></p>
		</form>
	</div>
</body>

</html>