
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="guow10">
		<link href="style.css" type="text/css" rel="stylesheet" />
		<link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="your preferred username (no spaces)" value=""></p>
            <p>Password:<br /><input type="password" name="pass" placeholder="your chosen password" value=""></p>
			<p>Eamil:<br /><input type="email" name="email" placeholder="your email" value=""></p>
			<p><h6>We'll never share your email with anyone else.</h6></p>
			<p>Profile Picture:<br /><input type="file" name="avatar" accept=".png, .jpg"></p>
			<p><input type="submit" value="Create"></p>
		</form>
	</body>
</html>
