<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Item List</title>
	<meta name="description" content="Items result list">
	<meta name="author" content="guow10">
	<link href="style.css" type="text/css" rel="stylesheet" />
	<link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="container-fluid" style="height: 50px">
		<h1 style="float: left;">Exchange</h1>
		<p><a href='/' class="btn btn-link" style="float: right; margin:0px, 10px">home page</a></p>
		{{#if authorised}}
		<p><a href=${userId} class="btn btn-link" style="float: right; margin:0px, 10px">user</a></p>
		<p><a href="/logout" class="btn btn-link" style="float: right; margin:0px, 10px">logout</a></p>
		{{else}}
		<p><a href="/login" class="btn btn-link" style="float: right; margin:0px, 10px">login</a></p>
		<p><a href="/register" class="btn btn-link" style="float: right; margin:0px, 10px">register</a></p>
		{{/if}}
	</div>
	<br /><br />
	<div class="container">
		<br />
		<div class="row">
			{{#if itemList}}
			{{#itemList}}
			<div class="card" style="width:20%; margin:20px" onclick="#">
				<img class="img-responsive" src={{itemImg}} alt={{title}} style="width:100%">
				<div class="card-body">
					<h5 class="card-title">{{title}}</h5>
					<p class="card-text">{{description}}</p>
					<a href={{id}} class="card-link">views</a>
				</div>
			</div>
			{{/itemList}}
			{{else}}
			<p><br />
				<h1>Sorry, There is no item, Let's go back <a href="/">homePage</a> and create an item</h1>
			</p>
			{{/if}}
		</div>
	</div>
</body>

</html>