<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Item</title>
	<meta name="user" content="The User Details Page">
	<meta name="author" content="guow10">
	<link href="style.css" type="text/css" rel="stylesheet" />
	<link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="container-fluid" style="height: 50px">
		<h1 style="float: left;">Exchange</h1>
		<p><a href='/' class="btn btn-link" style="float: right; margin:0px, 10px">home page</a></p>
		{{#if authorised}}
		<p><a href="/logout" class="btn btn-link" style="float: right; margin:0px, 10px">logout</a></p>
		{{else}}
		<p><a href="/login" class="btn btn-link" style="float: right; margin:0px, 10px">login</a></p>
		<p><a href="/register" class="btn btn-link" style="float: right; margin:0px, 10px">register</a></p>
		{{/if}}
	</div>

	<div class="container">
		<br />
		<h1 style="text-align:center">User Details</h1><br />

		<div class="float-left" style="margin-right:100px">
			<h4>User:&nbsp;{{data.user}}</h4>
			<br /><a>Email:&nbsp;</a>
			<a style="color:red">{{data.email}}</a>
			<br /><br />
		</div>
		<div>
			{{#if itemList}}
			{{#itemList}}
			<h4>The item list you created: </h4>
			<a>item title:</a><a style="color:red">{{title}}</a>
			<br /><a>The item description:</a><a style="color:red">{{description}}</a>
			<a href={{id}} class="card-link">views</a>
			<br /><img src={{itemImg}} alt={{title}} class="img-thumbnail">
			<br /><br />
			{{/itemList}}
			{{else}}
			<a>you have not created any item!</a>
			{{/if}}
		</div>
	</div>
</body>

</html>